.login-container{
    height: max-content;
    width: 20vw;
    border: 1px solid red;
    border-radius: 20px;
    color: white;
}
.login-header{
    background-color: red;
    border-radius: 20px 20px 0px 0px;

}
.login-h1{
    margin-top: 0%;
}
.login-fieldes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}
.sign-up-log{
    background-color: red;
    border-radius: 0px 0px 20px 20px;

}
.log-input{
    padding: 0.3rem;
    border-radius: 10px;
    border: 1px solid red;
    background-color: rgb(249, 72, 72);
    color: white;
    margin-bottom: 0.1rem;
    transition: all ease-in-out 0.3s;
}
.log-input:focus{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    outline: none;
}
.login-btn{
    background-color: rgb(249, 72, 72);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.3rem;
    cursor: pointer;
    transition: 0.5s;
    width: 7rem;
}
.login-btn:hover{
    background-color: red;
}