.nav-bar-container {
  height: 6vh;
  background-color: red;
  display: grid;
  align-items: center;
  box-shadow: white 3px 3px 3px 3px;
  position: fi;
}

.nav-btns-container {
  display: grid;
  grid-template-columns: 5% 80% 15%;
}
.logo-container {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}
.middle-btns-container {
  display: grid;
  justify-content: center;
}
.middle-btns-inner-container {
  width: 30vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.log-reg-btns {
  display: grid;
  grid-template-columns: 50% 50%;

  align-items: center;
}
.nav-btn {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 0.7rem;
  transition: 0.5s;
}
.nav-btn:hover {
  background-color: rgb(241, 189, 189);
}

